//SIDEBAR LOGO
.logo{
    font-family: var(--secondaryFont);
    font-weight: 700;
    font-size: 3.5rem;
    span{
        color: var(--primaryColor);
    }
}

.nav{
    margin-top: -22rem;
    &__list{
        list-style: none;
    }

    &__item{
        position: relative;
        &:not(:last-child){
            margin-bottom: 1.6rem;
        }

    }

    &__link{
        &:link,
        &:visited{
            color: var(--primaryColor);
            text-decoration: none;
            font-size: 1.6rem;
            font-weight: 700;
            transition: all .2s;
        }

        &:focus{
            outline: none;
        }

        &::after{
            content: "";
            height: 2px;
            background-color: black;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            display: inline-block;
            transform: scaleX(0);
            transition: all .2s;
        }

        &:hover,&:focus{
            color: black;
        }

        &:hover::after,&:focus::after{
            transform: scaleX(1);
        }

    }

}


.legal {
    font-size: 1.4rem;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
    margin-bottom: .5rem;
    span{
        color: #f05d23;
    }

    .social{
        display: flex;
        justify-content: center;
        &__icon{
            width: 1.25rem;
            height: 1.25rem;
            fill: var(--primaryColor);
            transition: all .6s ease;
            cursor: pointer;

            &:not(:last-child){
                margin-right: 1.25rem;
            }

            &:hover{
                fill: currentColor;
            }
        }
    }

}




////HEADER
.header{
    height: 96vh;
    background-image: url("../img/bg1.jpg");
    background-attachment: fixed;
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &__overlay{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: #fff;
        width: 100%;
        height: 100%;
        opacity: .7;
    }

    
    &__content{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;
        width: 100%;
        height: 100%;
    }
    
    &__text{
        text-align: center;
        position: absolute;
        top: 48%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 65%;
        backface-visibility: hidden;
    }

    &__photo{
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        margin-bottom: 1.2rem;
        opacity: 0;
        animation: bounce-down 1s .2s 1 ease-in forwards;

    }

}


//TECH SECTION
.tech{
    padding: 10rem 4rem;
    &__skills{
        display: grid;
        grid-template-columns:repeat(3,1fr);
        grid-gap:3rem;
    }

    &__skill{
        .html5{
            fill: orangered;
        }

        .css3{
            fill: #0282ca;
        }
    }
}


//CONTACT SECTION
.contact{
    padding: 4rem;

    &__details{
        display: flex;
    }

    &__photo{
        flex: 0 0 50%;
        background-color: var(--primaryColor);
        margin-right:3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

    }


    .form{
        flex: 1;
        display:flex;
        flex-direction: column;

        &__field{
            font-size: 1.5rem;
            font-family: inherit;
            font-weight: 500;
            padding: 1.6rem 1.3rem;
            &:not(:last-child){
                margin-bottom: 1.5rem;
            }

            &--message{
                height: 15rem;
            }
        }
    }
}


.btn{
    &:link,&:visited{
        text-decoration: none;
        background-color: #f05d23;
        border: 1px solid currentColor;
        font-size: 1.6rem;
        color: white;
        padding: 2rem;
        display: inline-block;
        border-radius: 10rem;
        border: none;
        cursor: pointer;
        transition: all .3s;
    }
    
    &:hover{
        background-color: transparent;
        color: #f05d23;
        border: 1px solid currentColor;
    }
}



//FOOTER SECTION
.footer{
    background-color: #132238;
    color: white;
    height: 20rem;
    padding: 4rem;
}

